/* Write your CSS here */
.logout-button {
  background-color: #ffffff;
  font-family: roboto;
  border: none;
  border-radius: 10px;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-left: 32px;
  padding-right: 32px;
}
